.about-page-text-section {
  text-align: center;
}

.about-page-text.one {
  text-align: left;
  margin-bottom: 35px;
}

.about-page-text.two {
  text-align: right;
}

.recomendations {
  font-size: 0.6em;
  color: rgb(155, 155, 155);
  margin: 0 auto 20px auto;
}

.about-page-btns {
  text-align: center;
  margin: 0 auto 20px auto;
}

.about-img {
  box-shadow: none;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
}
