.about-img {
  box-shadow: none;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
}

.about-page-btns {
  text-align: center;
  margin: 0 auto 20px auto;
}

.about-page-btns .nes-btn {
  margin: 1rem;
}

.about-page-text p {
  margin: 1rem;
  text-align: left;
}

@media (min-width: 992px) {
  .about-page-text p {
    margin: 1rem auto;
    max-width: 50em;
  }
}
