.about-page-div{
  display: flex;
  justify-content: space-evenly;
}

.about-page-section{
  margin-left: 15px;
  margin-right: 15px;
}

.about-page-text{
  text-align: center;
  margin: 40px;
}

.about-page-btns{
  text-align: center;
}

.about-img{
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;
}

.about-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column
}

@media (min-width: 576px) {
  .about-container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .about-container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .about-container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .about-container {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .about-container {
    max-width: 1600px;
  }
}