.battle-container {
  display: flex;
  justify-content: space-between;
  height: 625px;
  width: 1000px;
  margin: 20px auto;
}


.game-img {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
}

.title-container {
  /* display: flex;
  justify-items: center; */
  margin-bottom: 20px;
  height: 195px;
} 
.game-title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 0;
}

.card{
  width: 50%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.img-holder{
  text-align: center
}

#vote-button{
  margin-left: auto;
  margin-right: auto;
}

.landing-page-loader{
  text-align: center;
  font-size: 25px;
}

.vs-skip-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  padding: 20px 0;
}

.vs {
  font-size: 28px;
  /* padding-top: 135%; */
  margin: auto 0;
}

#skip-btn {
  height: 32px;
  width: 64px;
  font-size: 10px;
  box-shadow: -2px -2px;
  border-width: 3px;
}

#skip-btn::after{
  box-shadow: inset -2px -2px #006bb3;
  align-self: flex-end;
}

#skip-btn:hover::after {
  box-shadow: inset -3px -3px #006bb3;
}

#onboarding-progress{
  width: 50%;
}

.onboarding-progress-container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}