.header-bar {
  margin: 8px;
  background-color: #5c94fc;
  /* background-image: url('https://i.pinimg.com/originals/5e/93/44/5e93446c8e04d4eebb641b953266846c.jpg'); */

  color: white;
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #c84c0c;
  width: 90%;
  margin: 10px auto;
}

.nav-button {
  text-decoration: none;
  color: white;
}

.nav-button:hover {
  text-decoration: none;
  color: blue;
}

.web-links {
  display: flex;
  justify-content: flex-end;
}

.title {
  color: black;
}
