.header-bar {
  margin: 15px;
  background-color: #5c94fc;
  color: white;
  display: flex;
  flex-direction: column;
}

.nav-container {
  text-decoration: none;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .nav-container {
    display: flex;
  }
}
