.menu-item {
  position: relative;
}

.menu-item__link {
  display: block;
}

a.menu-item__link:active,
a.menu-item__link:focus,
a.menu-item__link:hover {
  text-decoration: none;
}

a.menu-item__link:active::before,
a.menu-item__link:focus::before,
a.menu-item__link:hover::before {
  box-shadow: 2px 2px 0 0.02em, 4px 2px 0 0.02em, 2px 4px 0 0.02em,
    4px 4px 0 0.02em, 6px 4px 0 0.02em, 8px 4px 0 0.02em, 2px 6px 0 0.02em,
    4px 6px 0 0.02em, 6px 6px 0 0.02em, 8px 6px 0 0.02em, 10px 6px 0 0.02em,
    2px 8px 0 0.02em, 4px 8px 0 0.02em, 6px 8px 0 0.02em, 8px 8px 0 0.02em,
    10px 8px 0 0.02em, 12px 8px 0 0.02em, 2px 10px 0 0.02em, 4px 10px 0 0.02em,
    6px 10px 0 0.02em, 8px 10px 0 0.02em, 10px 10px 0 0.02em, 2px 12px 0 0.02em,
    4px 12px 0 0.02em, 6px 12px 0 0.02em, 8px 12px 0 0.02em, 2px 14px 0 0.02em,
    4px 14px 0 0.02em;
  color: #0056b3;
  content: "";
  height: 2px;
  left: -10px;
  position: absolute;
  top: 0.9rem;
  width: 2px;
}
