.nes-btn.modal {
  height: 32px;
  width: 80px;
  font-size: 10px;
  box-shadow: -2px -2px;
  border-width: 3px;
}

.nes-btn.modal::after{
  box-shadow: inset -2px -2px #006bb3;
  align-self: flex-end;
}

.nes-btn.is-primary.modal::after{
  box-shadow: inset -2px -2px #006bb3;
  align-self: flex-end;
}

.nes-btn.modal:hover::after {
  box-shadow: inset -3px -3px #006bb3;
}
.nes-btn.is-primary.modal:hover::after {
  box-shadow: inset -3px -3px #006bb3;
}

.close-modal {
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  padding: 2px;
  border-radius: 50%;
}

.modal-content {
  color: rgba(235, 235, 235, 0.8);
  font-style: italic;
  line-height: 25px;
}

.Modal {
  background-image: url('https://opengameart.org/sites/default/files/styles/medium/public/parallax-industrial-anim_x2_0.gif');
  background-size: cover;
  position: absolute;
  top: 20%;
  left: 15%;
  right: 15%;
  bottom: 20%;
  background-color: #f8f8f8;
  padding: 20px;
} 

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(33, 37, 41, 0.5);
  z-index: 0;
}

@media (min-width: 769px) {
  .Modal{
    top: 25%;
    left: 33%;
    right: 33%;
    bottom: 25%;
  }
}