.nes-container.with-title > .title.user {
  background-color: #f8f8f8;
}

.nes-container.with-title > .title.profile-pic {
  background-color: #f8f8f8;
}

.nes-container.with-title > .title.profile-pic-container {
  background-color: #f8f8f8;
}

.profile-pic {
  width: 75px;
  height: 75px;
  border: 4px solid black;
  border-radius: 50%;
  justify-self: flex-end;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

.profile-info-container {
  width: 90%;
  margin: 30px;
}

.about-me {
  font-size: 10px;
  margin: 15px;
}

.about-me-container {
  align-self: flex-start;
  width: 100%;
}
.rec-container {
  width: 100%;
  text-align: center;
}
.recent-choices {
  margin: 16px;
  width: 100%;
}

.choice-count {
  margin-top: -30px;
}
.recent-choices > div {
  width: 100%;
  /* margin: auto; */
}

.top-six {
  margin: 16px;
  width: 100%;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.about-me-label {
  position: relative;
}
.nes-textarea {
  font-size: 10px;
  height: 180px;
}

.cancel {
  padding: 10px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 80px;
  right: 40px;
  border-radius: 50%;
  color: white;
  background-color: #e59400;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC")
      14 0,
    pointer;
}

@media (min-width: 769px) {
  .about-me-container {
    width: 60%;
  }

  .top-six {
    width: 56%;
  }

  .recent-choices {
    width: 30%;
  }

  .rec-container {
    margin: 30px;
    width: 90%;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .top-recent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-six {
    width: 80%;
  }
  .recent-choices {
    width: 80%;
  }
}
