.nes-container.with-title > .title.user {
  background-color: #f8f8f8;
}

.nes-container.with-title > .title.profile-pic {
  background-color: #f8f8f8;
}
.profile-pic {
  width: 75px;
  height: 75px;
  border: 4px solid black;
  border-radius: 50%;
  justify-self: flex-end;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

.profile-info-container {
  width: 90%;
  margin: 30px;
}

.about-me {
  font-size: 10px;
  margin: 15px;
}

.about-me-container {
  align-self: flex-start;
  width: 100%
}

.recent-choices {
  margin: 16px;
  width: 100%;
}

.recent-choices > div {
  width: 100%;
  /* margin: auto; */
}

.top-6 {
  margin: 30px;
  width: 100%;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 769px) {
  .about-me-container {
    width: 60%
  }

  .top-6 {
    width: 56%;
  }

  .recent-choices {
    margin: 30px;
    width: 30%;
  }
}