.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

#visa{background-image:url('../../assets/demon.png');}
#mastercard{background-image:url(../../assets/knight.png);}

.cc-selector-2 input:active +#drinkcard-cc, .cc-selector input:active +#drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +#drinkcard-cc, .cc-selector input:checked +#drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
#drinkcard-cc{
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}