.vote-stats-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;

}

.vote-card-thumb {
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;
  margin: 0 auto 15px auto;
}

.vote-card {
  display: flex;
  flex-direction: column
}

.vote-card-label {
  font-size: 14px;
  margin-bottom: 15px;
}

.voting-feedback {
  font-size: 15px;
}